/* Aquí puedes agregar estilos adicionales que no sean globales */

/*.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}*/

.presentation-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centra verticalmente */
  height: 80vh; /* Ajusta la altura a un 80% de la vista */
  width: 100%;
  margin-top: 50px; /* Añade margen superior para bajarlas */
  margin-bottom: 0;
  padding-top: 50px; /* Ajusta este valor según sea necesario para bajar las imágenes */
}

.presentation-img {
  max-width: 33%;
  height: auto;  
  object-fit: cover;  /* Asegura que las imágenes mantengan su proporción */
}

@media (max-width: 768px) {
  .presentation-container {
    flex-direction: column; /* Las imágenes se apilan verticalmente en pantallas pequeñas */
    justify-content: center;
    padding-top: 30px; /* Reduce el padding-top en pantallas más pequeñas si es necesario */
  }

  .presentation-img {
    max-width: 100%;
    margin-bottom: 1rem; /* Espacio entre imágenes */
  }
}

/* Estilos generales del navbar */
.navbar-full-width {
  width: 100%;
  height: 80px;
  margin: 0;
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  z-index: 1000;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.navbar-collapse {
  display: none;
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-collapse.show {
  display: flex;
}

.navbar-toggler {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: block;
}

/* Estilos específicos para pantallas grandes */
@media (min-width: 992px) {
  .navbar-toggler {
    display: none;  /* Oculta el botón de hamburguesa en pantallas grandes */
  }

  .navbar-collapse {
    display: flex !important; /* Asegura que el menú se muestre en pantallas grandes */
    justify-content: flex-end; /* Alinea los ítems del navbar a la derecha */
  }

  .navbar-nav {
    flex-direction: row; /* Asegura que los elementos del navbar estén en línea */
  }

  .nav-item {
    margin-left: 15px; /* Añade espacio entre los elementos del navbar */
  }

  .navbar-brand {
    margin-right: auto; /* Deja espacio entre el logo y los elementos de la derecha */
  }
}

/* Estilos específicos para pantallas pequeñas */
@media (max-width: 991px) {
  .navbar-collapse {
    display: none; /* Oculta el menú por defecto en pantallas pequeñas */
    flex-direction: column;
  }
  
  .navbar-collapse.show {
    display: flex; /* Muestra el menú cuando está activo en pantallas pequeñas */
    flex-direction: column; /* Alinea los ítems del navbar en columna */
    background-color: #f8f9fa; /* Color de fondo del navbar */
    position: absolute;
    top: 80px;
    width: 100%;
    left: 0;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-nav {
    flex-direction: column; /* Los elementos del navbar estarán en columna en pantallas pequeñas */
  }

  .nav-item {
    margin-left: 0; /* Resetea el margen en pantallas pequeñas */
    margin-top: 10px; /* Añade espacio entre los elementos del navbar en pantallas pequeñas */
  }
}

.footer-full-width {
  width: 100%;
  position: fixed;
  bottom: 0;  
  left: 0;
  text-align: center;
  padding: 1rem 0;
  z-index: 1000;
  font-size: small;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  color: red;
}

.card-body p {
  margin: 0;
  padding: 0;
}

.card-body .precio {
  color: blue; 
  font-style: italic;
  text-align: end;
  font-size: 14px; /* Tamaño ajustado para mejor legibilidad */
}

.card-body .autor {
  font-style: italic;
  text-align: end;
  padding-bottom: 5px;
}

.card-title{
  text-align: center;
  font-weight: bold;
  font-size: 16px; /* Ajusta el tamaño del título para que no se desborde */
}

.card-text{
  text-align: left;
  font-size: 14px; /* Ajusta el tamaño del texto para evitar que se desborde */
}

.card {
  perspective: 1000px;
  width: 300px;
  height: 450px; /* Ajuste la altura de la tarjeta */
  position: relative;
  transition: width 0.6s, height 0.6s, top 0.6s, left 0.6s, transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card.flipped {
  width: 600px;
  height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(180deg); /* Centrado y rotación */
  z-index: 1000;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden; /* Evita que el contenido se desborde */
  padding: 10px; /* Reducción de padding para mejor ajuste */
  box-sizing: border-box;
}

.card-front {
  background-color: white;
  z-index: 2; /* Asegura que esté por encima cuando no está volteado */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.card-front img {
  width: 80%;
  height: 80%; /* Mantiene la proporción de la imagen */
  max-height: 300px; /* Limita la altura máxima de la imagen */
  object-fit: cover; /* Asegura que la imagen ocupe todo el espacio disponible */
}

.card-back {
  background-color: gainsboro;
  transform: rotateY(180deg);
  z-index: 1; /* Se muestra detrás hasta que se voltea */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Ocultar el frente cuando está volteado */
.card.flipped .card-front {
  z-index: 1;
  display: none;
}

/* Mostrar la parte trasera cuando está volteado */
.card.flipped .card-back {
  z-index: 2;
  display: flex;
}

/* Asegúrate de que el texto sea legible */
.card-back .card-text {
  margin-bottom: 1rem;
}

.card-body .precio {
  color: blue; 
  font-style: italic;
  text-align: end;
  font-size: large;
}

.card-title {
  text-align: center;
  font-weight: bold;
}

.container {
  margin: 0 auto;
  padding: 50px;
  max-width: 1200px; /* Añadido para asegurar que la página no se estreche demasiado */
}

.container, h1{
  font-weight: bold;
}

/* CSS para las tarjetas en el carrito */
.card-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%; /* Hace que la tarjeta ocupe toda la altura disponible */
}

.card-small img {
  width: 100%;
  height: 150px; /* Ajusta la altura de la imagen según tus necesidades */
  object-fit: contain;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-small .card-img-top {
  height: 80px; /* Ajusta la altura de la imagen si es necesario */
  object-fit: cover; /* Para asegurar que la imagen mantenga su proporción */
}

.card-small .card-body {
  padding: 0.5rem; /* Reduce el padding para un ajuste más compacto */
}

.card-small .card-title {
  font-size: 1rem; /* Ajusta el tamaño de la fuente si es necesario */
}

.card-small .card-text {
  font-size: 0.875rem; /* Ajusta el tamaño de la fuente si es necesario */
}

.cart-total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; /* Reduce el espacio entre el total y el botón */
}

.cart-total {
  font-size: 1.5em; /* Aumenta el tamaño de la fuente para el total */
  font-weight: bold;
}

.cart-checkout-btn {
  padding: 15px 30px; /* Aumenta el tamaño del botón */
  font-size: 1.2em; /* Aumenta el tamaño del texto del botón */
  margin-left: 10px; /* Ajusta la separación entre el total y el botón */
  background-color: #28a745;
  border-color: #28a745;
  color: white;
}

.cart-checkout-btn:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

